@import '../../styles/variables';

.card-img {
  position: relative;
  height: 250px;
  overflow: hidden;
  border-block-end: 5px;
}

#task-card {
  width: 18%;
  margin: 6%;
  border-block-end: 5px;
}